<h1>Register</h1>
<form action="/register" method="POST">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" placeholder="Masukan Email Anda">
    <br>
    <label for="pasword">Password</label>
    <br>
    <input type="password" name="password" placeholder="Masukan Password">
    <br>
    <button type="submit ">register</button>

</form>